
<header th:fragment="header">
    <nav>
        <div>
            <a href="/">
                <!--img class="logo" src="/images/shoes.svg" alt="Logo"/-->Sporty Shoes
            </a>
            <a href="/categories">Category</a>
            <a href="/products">Product</a>
            <a href="/users">User</a>
            <a href="/purchases">Purchase</a>
        </div>
        <div>
            <div th:if="${session.containsKey('email')}" th:text="Logout"></div>

            <div th:if="${session.containsKey('email')}" th:text="${session.email}"></div>
            <div th:text="${session.containsKey('emailssd')}"></div>
            <div th:text="${session.isEmpty()}"></div>
            <div th:if="${!session.containsKey('email')}" >Logout</div>
            <a href="/login">Login</a>
        </div>
    </nav>

</header>