
<header th:fragment="header">
    <nav>
        <div>
            <a href="/">
                <!--img class="logo" src="/images/shoes.svg" alt="Logo"/-->Sporty Shoes
            </a>

            <a th:if="${session.containsKey('userType') and session.userType == 'ADMIN' }" href="/categories">Category</a>
            <a th:if="${session.containsKey('userType') and session.userType == 'ADMIN' }" href="/products">Product</a>
            <a th:if="${session.containsKey('userType') and session.userType == 'ADMIN' }" href="/users">User</a>
            <a th:if="${session.containsKey('userType') and session.userType == 'USER' }" href="/purchases">Purchase</a>

        </div>
        <div>
            <div th:if="${session.containsKey('email')}" th:text="${session.email}"></div>
            <a href="/logout" th:if="${!session.isEmpty()}" >Logout</a>
            <a href="/login" th:if="${session.isEmpty()}" >Login</a>

        </div>
    </nav>

</header>